body {
  margin: 0;
  padding: 0;
  background:#A6A6A6
  }
  
  .conainer {
    position: absolute;
    top: 50%;
    left: 50%;
    
  
  }
  
  .content {
    display: inline-block;
    text-decoration: none;
    display: inline-block;
    color:#E04E4F;
    font-family:Lato;
    font-weight: lighter;
    font-size: 28px;
    padding: 0 20px;
  }
  
  
  